node_modules/
dist/
.next/
.env
.env.local
coverage/
*.log
data/jobs/*
!data/jobs/.gitkeep
data/tarefas/*
!data/tarefas/.gitkeep
data/models/*
!data/models/.gitkeep
imagens-teste/*

.venv*/
__pycache__/
*.pyc
.crawlee/
storage/

/treino_ia/negativos/*